.header {
  height: 70px;
  display: flex;
  align-items: center;
}
.header-logo {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  filter:invert(100%);
}
.menu-list {
  margin: 10px;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: transparent;
  background: rgba(11, 12, 13, 0.70);
}

.menu-link {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.menu-link:hover{
  transform: ease all 1;
  background-color: aliceblue;
  color:black;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #487F63, -2px -2px 3px #487F63;
  
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
