.bgimg {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  width: 500px;
  height: 500px;
  object-fit:fill;
  display: flex;
  flex:1;
}

body{
  margin-top: 70px;
}
.lp-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.24);
  color: black;
  width: 50%;
  height: 18vw;
  margin: auto;
  font-size: 2rem;
  text-shadow: 1px 1px 1px black, 0 0 25px #decec1, 0 0 5px darkgreen;
  color: rgb(168, 145, 145);
} 

.landing-page{
  display: flex;
  flex-direction: row;
  margin-top: 15%;
}
